.dashboard-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    background-color: #587266;
    transition: background-color 0.3s, transform 0.2s;
}

.dashboard-button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    background-color: #9FA691;
}

.dashboard-button:disabled {
    background-color: #D4CDC7;
    cursor: not-allowed;
}

.dashboard-button.secondary {
    background-color: #587266;
}

.dashboard-button.secondary:hover {
    background-color: #9FA691;
}

.dashboard-button.danger {
    background-color: #8D5F54;
    color: white;
}

.dashboard-button.danger:hover {
    background-color: #8D5F54;
}

/* Add responsiveness */
@media (max-width: 768px) {
    .dashboard-button {
        width: 100%;
        font-size: 14px;
        margin: 10px 0;
    }
}
